html, body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#header {	
	width: 100%;
	height: 80px;
	margin: 0;
	background-image: url('img/header.jpg');
	background-size: 100% auto; 
	display: inline-block;
}

.logo {
    display: inline;
}

.logo img {
    margin: 10px;
}

.welcome {
    display: inline;
    float:right;
    margin: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    line-height:35px;
    font-size: 12px;
}

.logOut {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #fff;
    float: right;
}

.logOut:hover {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #fff;
    text-decoration: underline;

}

#menu {
	width: 100%;
	height: 40px;
	background: #5c8e1e;
	padding: 0;
	-moz-box-shadow: inset 0 0 10px #363833;
	-webkit-box-shadow: inset 0 0 10px #363833;
	box-shadow: inset 0 0 10px #363833;
	text-decoration: none;
	color: #fff;
	text-align: center;
	
}

 #menu ul {
	list-style: none;
	width: 100px;
	margin: 0px;
	padding: 5px;
	display: inline;
}

 #menu ul li {
	float: left;
	margin-top: 2px;
	background: #6ea123;
	width: 117px;
	height: 36px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 0 2px #363833;
	-webkit-box-shadow: inset 0 0 2px #363833;
	box-shadow: inset 0 0 2px #363833;
}

 #menu ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    line-height:35px;
    font-size: 12px;
  	font-weight: bold;
}

 #menu ul li:hover {
	 background-color:#5c8e1e;
	 border-color:#696969 #DCDCDC #DCDCDC #696969;
	 -moz-box-shadow: inset 0 0 5px #363833;
	 -webkit-box-shadow: inset 0 0 5px #363833;
	 box-shadow: inset 0 0 5px #363833;
 } 

 #menu ul li:active {
	 background-color:#5c8e1e;
	 border-color:#696969 #DCDCDC #DCDCDC #696969;
 }

#contener {
	width: 1050px;
	height: 450px;
	margin: 40px auto;
	padding: 0;
	overflow: hidden;
}

#contener .row{
 	width: 32%;
  	float: left;
  	background-color: #f7f7f7; 
  	height: 500px;
  	margin:5px;
  	border-radius: 5px;
}

h3{
	color: #333;
	margin: 10px;
	font-size: 12px;
}

input[type="search"] {
    width: 70%;
    height: 30px;
	margin-left: 10px;
	border-radius: 5px;
	display: block;
}

input#employee {
    width: 65%;
    height: 30px;
	margin-left: 10px;
	border-radius: 5px;
	display: inline;
}

.custom-select{
width:90%;
margin: 10px;
}

.btRemove {
    border-radius: 5px;
    background: #fff;
}

.btRemove:hover {
     -moz-box-shadow: inset 0 0 5px #363833;
	 -webkit-box-shadow: inset 0 0 5px #363833;
	 box-shadow: inset 0 0 5px #363833;
}

.btRemove span {
    display: inline-block;
    height: 22px;
    background: url('img/delete.png') 3px 5px no-repeat;
    padding: 4px 2px 0px 30px;
}

.my_popup_open {
    border-radius: 5px;
    background: #fff;
    display: inline;
    height: 30px;
}

.my_popup_open span {
    display: inline-block;
    height: 22px;
    background: url('img/add.png') 3px 5px no-repeat;
    padding: 4px 2px 0px 30px;
}

#separation {
	width: 2px;
	height: 20px;
	background: #d1d1d1;
	display: inline-table;
	margin-bottom: -5px;
}

#footer {
	color: #333;
	width:100%;
	bottom: 0; 
	left: 0; 
	right: 0;
  	height: 30px;
  	background-image: url('img/footer.jpg');
	background-size: 100% auto; 
}

#title {
	line-height:2em;
	margin-left: 10px;
}	

#slide_background {
  transition: all 0.3s 0.3s;
}

#slide, #slide_wrapper {
  transition: all 0.3s ease-out;
}

#slide {
  transform: translateX(0) translateY(-40%);
}

.popup_visible #slide {
  transform: translateX(0) translateY(0);
}

#formulaireContener{
	height:380px; 
	width:700px; 
	margin:0 auto; 
	position:relative;
	background: #fff;
	border: 8px solid #e6e6e6;
}

#formulaireContener .row{
 	width: 45%;
  	float: left;
  	background-color: #f7f7f7; 
  	margin:5px;
  	border-radius: 5px;
}

.conteneur input {
    padding: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 200px;
    border-radius: 5px;
    outline: none;
}